<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div id="">
      <h2 class="text-danger"><%= pluralize(timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>
      <div class="alert alert-danger">
        <% timesheet.errors.each do |error| %>
          <p class="fs-6"><%= error.full_message %></p>
        <% end %>
      </div>
    </div>
  <% end %>


  <div class="row mb-3">
    <%= form.label :date_of_entry, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.date_field :date_of_entry, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :start_time, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.time_field :start_time, class: 'form-control' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :finish_time, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.time_field :finish_time, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn btn-primary' %>
  </div>

<% end %>
