<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timesheet.errors.count, "error") %> prohibited this timesheet from being saved:</h2>

      <ul>
        <% timesheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_of_entry %>
    <%= form.date_select :date_of_entry %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :finish_time %>
    <%= form.time_select :finish_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
