<%= link_to 'Create Timesheet Entry', new_timesheet_path, class: 'btn btn-success' %>
<br>
<% if notice.present? %>
  <p class="alert alert-primary" id="notice"><%= notice %></p>
<% end %>
<h1>Timesheets</h1>

<table class="table">
  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= show_date_format(timesheet.date_of_entry) %>:</td>
        <td><%= "#{show_time_format(timesheet.start_time)} - #{show_time_format(timesheet.finish_time)}" %></td>
        <td><%= "$#{timesheet.total_price.round(2)}" %></td>
     </tr>
    <% end %>
  </tbody>
</table>
