<p id="notice"><%= notice %></p>

<h1>Timesheets</h1>

<table>
  <thead>
    <tr>
      <th>Date of entry</th>
      <th>Start time</th>
      <th>Finish time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.date_of_entry %></td>
        <td><%= timesheet.start_time %></td>
        <td><%= timesheet.finish_time %></td>
        <td><%= link_to 'Show', timesheet %></td>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
        <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timesheet', new_timesheet_path %>
