<p id="notice"><%= notice %></p>

<p>
  <strong>Date of entry:</strong>
  <%= @timesheet.date_of_entry %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @timesheet.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @timesheet.finish_time %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
